# Terraform local artifacts
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.auto.tfvars.json
**/crash.log

# Dataform / Node local artifacts
.df-credentials.json
node_modules/

# Python local artifacts
**/__pycache__/
**/*.py[cod]
.pytest_cache/

# Ruffle local artifacts
**/.ruff_cache/

# Astro / Airflow local development
Dockerfile
packages.txt
airflow_settings.yaml
.astro/

# Virtual Environment
.venv/
venv/
ENV/
env/

# OS Metadata
.DS_Store
Thumbs.db